
{% if article_list %}
<div class="container">

  {% for article in article_list %}
  <a href="{% url 'articleapp:detail' pk=article.pk %}">
      {% include 'snippets/card.html' with article=article %}
  </a>
  {% endfor %}
</div>



{% else %}
<div>
  <h1>no Articles YET!</h1>
</div>
{% endif %}

<div>
  <a href="{% url 'articleapp:create' %}">
    Create
  </a>
</div>

{% include 'snippets/pagination.html' with page_obj=page_obj %}
<div style ="text-align:center">
    <a href="{% url 'articleapp:create' %}">
        글쓰기
    </a>
</div>

