{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if article_list %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

  {% for article in article_list %}
  <a href="{% url 'articleapp:detail' pk=article.pk %}">
      {% include 'snippets/card.html' with article=article %}
  </a>
  {% endfor %}
        </div>
    </div>
</section>




{% else %}
<div>
  <h1>no Articles YET!</h1>
</div>
{% endif %}

<div>
  <a href="{% url 'articleapp:create' %}">
    Create
  </a>
</div>

{% include 'snippets/pagination.html' with page_obj=page_obj %}
<div style ="text-align:center">
    <a href="{% url 'articleapp:create' %}">
        글쓰기
    </a>
</div>


{% endblock %}